<section>
  <div class="page-header">
    <h3>Sort by:
      <a class="ng-binding ng-scope" ng-click="vm.sortLikes()">Likes</a>
      <a class="ng-binding ng-scope" ng-click="vm.sortHates()">Hates</a>
      <a class="ng-binding ng-scope" ng-click="vm.sortDate()">Date</a>
    </h3>
  </div>
  <div class="list-group">
    <a ng-repeat="movie in vm.movies" class="list-group-item">
      <!-- ui-sref="movies.view({ movieId: movie._id })"  -->
      <h4 class="list-group-item-heading" ng-bind="movie.title"></h4>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="movie.created | date:'mediumDate'"></span>
        by
        <span ng-if=" movie.user " ng-click="vm.listUser(movie.user._id) ">{{movie.user.displayName}}</span>
        <span ng-if="!movie.user ">Deleted User</span>
      </small>
      <hr>
      <p>{{movie.body | limitTo:1000}}</p>
      <small class="list-group-item-action active ">Likes
        <button type="button" class="btn btn-link" ng-bind="movie.likes" ng-disabled="!vm.authentication.user||movie.user._id===vm.authentication.user._id"
          ng-click="movie.likes=movie.likes+1; vm.addOpinion(movie._id, 'like')">
        </button>
      </small>
      <small class="list-group-item-action active ">Hates
        <button type="button" class="btn btn-link" ng-bind="movie.hates " ng-disabled="!vm.authentication.user||movie.user._id===vm.authentication.user._id"
          ng-click="movie.hates=movie.hates+1;vm.addOpinion(movie._id, 'hate')"></button>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center " ng-if="vm.movies.$resolved && !vm.movies.length ">
    No Movies yet, why don't you
    <a ui-sref="movies.create ">create one</a>?
  </div>
</section>