<section>
  <div class="page-header">
    <h1 ng-bind="vm.movie.title"></h1>
    <small>
      <em class="text-muted">
        Posted on
        <span ng-bind="vm.movie.created | date:'mediumDate'"></span>
        by
        <span ng-if="vm.movie.user" ng-bind="vm.movie.user.displayName"></span>
        <span ng-if="!vm.movie.user">Deleted User</span>
      </em>
    </small>
    <div ng-bind="vm.movie.body"></div>
  </div>
  <div class="pull-right" ng-show="vm.movie.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="movies.edit({ movieId: vm.movie._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" ng-bind="vm.movie.content"></p>
  <small class="list-group-item-text">Likes
    <a class="ng-binding ng-scope " ng-click="vm.addOpinion(movie._id, 'like')" ng-bind="vm.movie.likes "></a>
  </small>
  <small class="list-group-item-text ">Hates
    <a class="ng-binding ng-scope " ng-click="vm.addOpinion(movie._id, 'hate')" ng-bind="vm.movie.hates "></a>
  </small>
</section>